// $accent: #009988;
// $accent: #81c784;
$accent: #26A69A;
$body-bg: #101010;
$body-color: #bbbbbb;
$alt-bg: #202020;
$alt-color: #f2f2f2;

// $accent: blue;
// $body-bg: #f2f2f2;
// $body-color: #202020;
// $alt-bg: #fcfcfc;
// $alt-color: #202020;

.accent-color {
  color: $accent;
}

.angular-color {
  color: #dd0031;
}

.react-color {
  color: #61dafb;
}

.aws-color {
  color: #ff9900;
}

.js-color {
  color: #F0DB4F
}

.html-color {
  color: #E44D26
}

.css-color {
  color: #2565AE
}

.sass-color {
  color: #CD6799
}

.node-color {
  color: #3C873A
}
